---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getBlogPosts } from "@/lib/ghost";
import { Button } from "@nextui-org/react";
import { ChevronLeft } from "lucide-react";

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getBlogPosts({
		title: true,
		slug: true,
		id: true,
		reading_time: true,
		feature_image: true,
		html: true,
		excerpt: true,
		published_at: true,
		feature_image_caption: true,
	});
	return posts.map((post) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post: post,
			},
		};
	});
}

const { post } = Astro.props;
const processedHtml = post.html.replace(/&nbsp;/g, " ");
---

<BaseLayout
	title={`Kafkaesque Blog - ${post.title}`}
	description={post.excerpt}
	image={post.feature_image}
>
	<div class="flex justify-center w-full dark:bg-gray-800 dark:text-white">
		<div class="flex flex-col max-w-screen-lg py-20 mx-auto">
			<article class="relative max-w-4xl">
				<div>
					<h1
						class="inline-block mt-2 text-6xl font-bold leading-tight lg:text-5xl"
					>
						{post.title}
					</h1>

					<p class="mt-6 mb-4 text-muted-foreground">
						Published on {
							new Date(post.published_at).toLocaleDateString(
								"en-UK",
								{
									year: "numeric",
									month: "long",
									day: "numeric",
								}
							)
						}
					</p>
				</div>

				<Image
					src={post.feature_image}
					alt={post.title}
					width={800}
					height={400}
					class="mt-8 mb-2 rounded-md border bg-muted object-cover w-full h-[400px]"
				/>
				<div
					class="min-w-full mb-8 prose text-center text-muted-foreground dark:prose-invert"
					set:html={post.feature_image_caption}
				/>

				<div
					class="prose dark:prose-invert"
					set:html={processedHtml}
				/>
			</article>
		</div>
	</div>
</BaseLayout>
