---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getBlogPosts } from "@/lib/ghost";

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getBlogPosts({
		title: true,
		slug: true,
		id: true,
		reading_time: true,
		feature_image: true,
		html: true,
		excerpt: true,
	});
	return posts.map((post) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post: post,
			},
		};
	});
}

const { post } = Astro.props;
---

<BaseLayout
	title={`Kafkaesque Blog - ${post.title}`}
	description={post.excerpt}
>
	<Image
		src={post.feature_image}
		alt={post.title}
		width={600}
		height={300}
		class="object-cover w-[600px] h-[300px]"
	/>

	<h1>{post.title}</h1>
	<p>{post.reading_time} min read</p>

	<Fragment set:html={post.html} />
</BaseLayout>
