---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { ghostClient } from "@/lib/ghost";

export const prerender = true;

export async function getStaticPaths() {
	const posts = await ghostClient.posts
		.browse({
			limit: "all",
		})
		.catch((err) => {
			console.error(err);
		});
	return posts?.map((post) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post: post,
			},
		};
	});
}

type PostType = {
	title: string;
	feature_image: string;
	reading_time: number;
	html: string;
};

const { post } = Astro.props as { post: PostType };
---

<BaseLayout title={`Kafkaesque Blog - ${post.title}`}>
	<Image
		src={post.feature_image}
		alt={post.title}
		width={600}
		height={300}
		class="object-cover w-[600px] h-[300px]"
	/>

	<h1>{post.title}</h1>
	<p>{post.reading_time} min read</p>

	<Fragment set:html={post.html} />
</BaseLayout>
