---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getBlogPosts } from "@/lib/ghost";
import { Button } from "@nextui-org/react";
import { ChevronLeft } from "lucide-react";

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getBlogPosts({
		title: true,
		slug: true,
		id: true,
		reading_time: true,
		feature_image: true,
		html: true,
		excerpt: true,
		published_at: true,
		feature_image_caption: true,
	});
	return posts.map((post) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post: post,
			},
		};
	});
}

const { post } = Astro.props;
const processedHtml = post.html.replace(/&nbsp;/g, " ");
---

<BaseLayout
	title={`Kafkaesque Blog - ${post.title}`}
	description={post.excerpt}
	image={post.feature_image}
>
	<div class="max-w-4xl px-4 py-20">
		<article class="relative max-w-4xl">
			<a href="/blog">
				<Button
					variant="ghost"
					className="absolute left-[-200px] hidden xl:inline-flex font-medium"
				>
					<ChevronLeft className="mr-2 h-4 w-4" />See recent posts
				</Button>
			</a>

			<div>
				<p class="text-muted-foreground">
					Published on {
						new Date(post.published_at).toLocaleDateString(
							"en-UK",
							{
								year: "numeric",
								month: "long",
								day: "numeric",
							}
						)
					}
				</p>

				<h1
					class="inline-block mt-2 text-4xl leading-tight font-bold lg:text-5xl"
				>
					{post.title}
				</h1>
			</div>

			<Image
				src={post.feature_image}
				alt={post.title}
				width={800}
				height={400}
				class="mt-8 mb-2 rounded-md border bg-muted object-cover w-[800px] h-[400px]"
			/>
			<div
				class="min-w-full mb-8 prose text-center text-muted-foreground dark:prose-invert"
				set:html={post.feature_image_caption}
			/>

			<div
				class="max-w-4xl prose dark:prose-invert"
				set:html={processedHtml}
			/>
		</article>
	</div>
</BaseLayout>
