---
import "@/styles/globals.css";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";

const permalink = `${Astro.url.origin}${Astro.url.pathname}`;

const { title, description, image } = Astro.props;
---

<script is:inline>
	(function () {
		const THEME_KEY = "theme";
		const DARK_CLASS = "dark";
		const isLocalStorageAvailable = typeof localStorage !== "undefined";

		// Function to toggle dark theme on a document
		const toggleDarkTheme = (doc, isDark) => {
			doc.documentElement.classList[isDark ? "add" : "remove"](
				DARK_CLASS
			);
			if (isLocalStorageAvailable) {
				localStorage.setItem(THEME_KEY, isDark ? DARK_CLASS : "light");
			}
		};

		// Function to get the theme preference
		const getThemePreference = () => {
			if (isLocalStorageAvailable && localStorage.getItem(THEME_KEY)) {
				return localStorage.getItem(THEME_KEY) === DARK_CLASS;
			}
			return window.matchMedia("(prefers-color-scheme: dark)").matches;
		};

		// Initial theme application
		toggleDarkTheme(document, getThemePreference());

		// Event listener for theme changes (e.g., system theme change)
		window.matchMedia("(prefers-color-scheme: dark)").addListener((e) => {
			toggleDarkTheme(document, e.matches);
		});

		// Handle astro:before-swap event
		document.addEventListener("astro:before-swap", (ev) => {
			const newDocIsDark =
				document.documentElement.classList.contains(DARK_CLASS);
			console.log(newDocIsDark);
			toggleDarkTheme(ev.newDocument, newDocIsDark);
		});
	})();
</script>

<head>
	<title>{title}</title>

	<!-- Meta details -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content={description} />

	<!-- Favicon -->
	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="/favicon/apple-touch-icon.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="/favicon/favicon-32x32.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="/favicon/favicon-16x16.png"
	/>
	<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
	<link rel="manifest" href="/favicon/site.webmanifest" />

	<!-- Open Graph Tags (Facebook) -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content={title} />
	{permalink && <meta property="og:url" content={permalink} />}
	{description && <meta property="og:description" content={description} />}
	<meta property="og:image" content={image || "../img/logo.png"} />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:title" content={title} />
	{permalink && <meta property="twitter:url" content={permalink} />}
	{
		description && (
			<meta property="twitter:description" content={description} />
		)
	}
	<meta property="twitter:image" content={image || "../img/logo.png"} />

	<!-- Font -->
	<AstroFont
		config={[
			{
				src: [],
				name: "Inter",
				display: "swap",
				selector: "html",
				fallback: "sans-serif",
				googleFontsURL:
					"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap",
			},
		]}
	/>
	<ViewTransitions />
</head>
