---
import "@/assets/styles/globals.css";
import "@/assets/styles/animations.css";
const { title, description, image } = Astro.props;
const permalink = `${Astro.url.origin}${Astro.url.pathname}`;
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{title}</title>
	<meta name="description" content={description} />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="favicon/favicon.ico" />

	<!-- Open Graph -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content={permalink} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={image} />

	<!-- Font -->
	<link
		href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap"
		rel="stylesheet"
	/>
</head>
