---
import { Image } from "astro:assets";
const { posts } = Astro.props;
---

<div id="postList" class="grid gap-10 sm:grid-cols-2">
	{
		posts?.map((post) => (
			<a href={`/post/${post.slug}`} class="font-normal no-underline">
				<article class="relative flex flex-col space-y-2">
					<div class="overflow-hidden border rounded-md bg-muted group">
						{post.feature_image && (
							<Image
								src={post.feature_image}
								alt={post.title}
								width={600}
								height={300}
								class="object-cover w-full h-full transition-transform duration-300 ease-in-out group-hover:scale-110"
							/>
						)}
					</div>
					<h2 class="text-2xl font-extrabold">{post.title}</h2>

					<p class="text-muted-foreground">{post.excerpt}</p>
					<p class="text-muted-foreground">
						{new Date(post.published_at).toLocaleDateString(
							"en-UK",
							{
								year: "numeric",
								month: "long",
								day: "numeric",
							}
						)}
					</p>
				</article>
			</a>
		))
	}
</div>

<script type="module">
	const postListContainer = document.getElementById("postList");

	window.appendPosts = (newPosts) => {
		if (!newPosts || !Array.isArray(newPosts)) return;
		newPosts.forEach((post) => {
			const postElement = document.createElement("div");
			postListContainer.appendChild(postElement);
		});
	};
</script>
